/* 
&display=swap
&subset=cyrillic-ext
*/
@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap&subset=cyrillic-ext');
@import '_null';

html {
  font-size: 14px;
}
body {
  line-height: 1;
  font-family: 'Inter', sans-serif;
  color: #0a0a0a;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1230px;
  padding: 0px 15px;
}

.titles {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
}

.header {
}
.main {
  flex: 1 1 auto;
}
.offer {
  background: #f5f5f7;
  // .offer__container

  &__container {
  }

  // .offer__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 77px 0px 40px 0px;
  }

  // .offer__title

  &__title {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 64px;
    color: #490e84;
    text-transform: uppercase;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  // .offer__image

  &__image {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  // .offer__img

  &__img {
    max-width: 100%;
  }

  // .offer__button

  &__button {
    align-self: center;
    padding: 24px 117px 22px 118px;
    background: #490e84;
    border-radius: 30px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
}

.about {
  // .about__container

  &__container {
  }

  // .about__content

  &__content {
    padding: 90px 0px 75px 0px;
  }

  // .about__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  // .about__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }

  // .about__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 560px;
  }

  // .about__text

  &__text {
    line-height: 130%;
    // .about__text_bold

    &_bold {
      font-weight: 700;
      font-size: 20px;
    }
  }

  // .about__image

  &__image {
    flex: 1 1 28.45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .about__item

  &__img {
    max-width: 100%;
  }
}

.footer {
}
