/* 
&display=swap
&subset=cyrillic-ext
*/
@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap&subset=cyrillic-ext');
@import '_null';

html {
  font-size: 14px;
}
body {
  line-height: 1;
  font-family: 'Inter', sans-serif;
  color: #0a0a0a;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1230px;
  padding: 0px 15px;
}

[class*='_ibg'] {
  position: relative;
}

[class*='_ibg'] img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.titles {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
}

.header {
}
.main {
  flex: 1 1 auto;
}
.offer {
  background: #f5f5f7;
  // .offer__container

  &__container {
  }

  // .offer__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 77px 0px 40px 0px;
  }

  // .offer__title

  &__title {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 64px;
    color: #490e84;
    text-transform: uppercase;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  // .offer__image

  &__image {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  // .offer__img

  &__img {
    max-width: 100%;
  }

  // .offer__button

  &__button {
    align-self: center;
    padding: 24px 117px 22px 118px;
    background: #490e84;
    border-radius: 30px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease 0s;
    &:hover {
      box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2),
        0 8px 16px 0 rgba(38, 38, 38, 0.24);
    }
  }
}

.about {
  // .about__container

  &__container {
  }

  // .about__content

  &__content {
    padding: 90px 0px 75px 0px;
  }

  // .about__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  // .about__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -45px;
    row-gap: 30px;
  }

  // .about__left

  &__left {
    flex: 1 1 50.41%;
    padding: 0px 45px;
  }

  // .about__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  // .about__text

  &__text {
    max-width: 560px;
    line-height: 130%;
    // .about__text_bold

    &_bold {
      font-weight: 700;
      font-size: 20px;
    }
  }

  // .about__right

  &__right {
    align-self: center;
    flex: 1 1 49.59%;
    padding: 0px 45px;
  }

  // .about__image

  &__image {
    display: flex;
    justify-content: center;
  }

  // .about__item

  &__img {
    max-width: 100%;
  }
}

.colors {
  // .colors__container

  &__container {
  }

  // .colors__content

  &__content {
    padding: 75px 0px 129px 0px;
  }

  // .colors__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  // .colors__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -40px;
    row-gap: 80px;
  }

  // .colors__item

  &__item {
    padding: 0px 40px;
    flex: 1 1 25%;
    min-width: 290px;
    @media (max-width: 1109.98px) {
      flex: 1 1 50%;
    }
  }
}

.item-colors {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (min-width: 1440px) {
    max-width: 240px;
  }

  // .item-colors__image

  &__image {
    padding: 0px 0px 133.33% 0px;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    background: #f5f5f7;
    &:hover {
      box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2),
        0 8px 16px 0 rgba(38, 38, 38, 0.24);
    }
  }

  // .item-colors__img

  &__img {
  }

  // .item-colors__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }

  // .item-colors__title

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0a0a0a;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .item-colors__info

  &__info {
    flex: 1 1 auto;
    line-height: 130%;
  }
}

.order {
  // .order__container

  &__container {
  }

  // .order__content

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  // .order__form

  &__form {
    flex: 1 1 50%;
  }

  // .order__image

  &__image {
    flex: 1 1 50%;
    background: #000000;
  }

  // .order__img

  &__img {
    max-width: 100%;
  }
}
.form {
  padding: 141px 93px 137px 93px;
  background: #574b63;
  display: flex;
  flex-direction: column;
  text-align: center;
  // .form__title

  &__title {
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 61px;
    }
  }

  // .form__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  // .form__item

  &__item {
    width: 100%;
  }

  // .form__input

  &__input {
    width: 100%;
    min-height: 42px;
    background: #574b63;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 130%;
    border-bottom: 1px solid rgba(245, 245, 245, 0.5);
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  // .form__info

  &__info {
    line-height: 130%;
    color: rgba(255, 255, 255, 0.5);
  }

  // .form__button

  &__button {
    align-self: center;
    cursor: pointer;
    padding: 16px 81px 16px 81px;
    border-radius: 30px;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #490e84;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    &:hover {
      box-shadow: 0 16px 24px 0 rgba(38, 38, 38, 0.2),
        0 8px 16px 0 rgba(38, 38, 38, 0.24);
    }
  }
}

.footer {
}
