@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext
*/
@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  color: #0a0a0a;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1230px;
  padding: 0px 15px;
}

.titles {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer {
  background: #f5f5f7;
}
.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 71px 123px 40px 140px;
}
.offer__title {
  font-weight: 700;
  font-size: 64px;
  color: #490e84;
  text-transform: uppercase;
  text-align: center;
}
.offer__title:not(:last-child) {
  margin-bottom: 46px;
}
.offer__image {
  max-width: 100%;
}
.offer__image:not(:last-child) {
  margin-bottom: 26px;
}
.offer__button {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 24px 117px 22px 118px;
  background: #490e84;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.image-offer__item {
  max-width: 100%;
}

.whats-new__content {
  padding: 87px 0px 75px 0px;
}
.whats-new__title:not(:last-child) {
  margin-bottom: 50px;
}
.whats-new__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whats-new__image {
  padding: 37px 100px 37px 100px;
}
.whats-new__item {
  max-width: 100%;
}
.whats-new__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  max-width: 560px;
}
.whats-new__text {
  line-height: 130%;
}
.whats-new__text_bold {
  font-weight: 700;
  font-size: 20px;
}